<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false"/>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="d:\home\site\wwwroot\reactive-stocks-1.0-SNAPSHOT\bin\reactive-stocks.bat">
    </httpPlatform>
  </system.webServer>
</configuration>
